{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Bought/Sold</th>
                <th>Symbol</th>
                <th>Purchase/Sale Price</th>
                <th># of shares</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for birthday in birthdays %}
            <tr>
                    <td>{{ history.bos }}</td>
                    <td>{{ history.company }}</td>
                    <td>{{ history.money }}</td>
                    <td>{{ history.nos }}</td>
                    <td>{{ history.date }}</td>
                    <td>{{ history.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

