{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
        <thead>
            <tr>
                <th>Bought/Sold</th>
                <th>Symbol</th>
                <th>Purchase/Sale Price</th>
                <th># of shares</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                        <td>{{ stock.company }}</td>
                        <td>{{ num[stock.company] }}</td>
                        <td>{{ cp[stock.company] }}</td>
                        <td>{{ tv[stock.company] }}</td>
                </tr>
        </tbody>
    </table>

{% endblock %}
