{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Cash Balance</th>
                <th>Grand Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                    <td>{{ ucc }}</td>
                    <td>{{ gt }}</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Stocks</th>
                <th># of Shares</th>
                <th>Current Price of Share</th>
                <th>Total Value</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                        <td>{{ stock.company }}</td>
                        <td>{{ num[stock.company] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
