{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/sell" method="POST">
        <select autocomplete="off" autofocus name="symbol" placeholder="symbol" type="select">
        {% for stock in stocks %}
                <option value={{ stock.company }}> {{ stock.company }}</option>
        {% endfor %}
        <input autocomplete="off" autofocus name="shares" placeholder="# of shares" type="number">
        <button type="submit">Submit</button>
    </form>
{% endblock %}
